.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  text-align: center; 
}

h1, h4 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  text-shadow: 2px 2px 8px #ff8c00; 
  padding: 10px; 
  display: inline-block; 
  border-radius: 5px; 
}

h1 {
  font-size: 52px; 
  font-weight: 900;
  margin: 20px 0; 
}

h4 {
  font-size: 28px; 
  font-weight: 700; 
  margin: 10px 0; 
}



