header {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  margin: 0;
  justify-content: center;
}

nav ul li button {
  background-color: transparent; /* Keep it transparent for text-like appearance */
  color: white;
  border: none; /* Removes any default borders */
  font-size: 18px;
  font-weight: bold;
  font-family: 'Playfair Display', serif; /* Apply the font */
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

nav ul li button:hover {
  color: #f9eeae;
  text-shadow: 0 0 5px #ff8c00, 0 0 10px #ff8c00, 0 0 15px #ff8c00;
  text-decoration: none;
}

span {
  margin: 0 10px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 1px;
}
