<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">


<header>
  <nav>
    <ul>
      <li><button routerLink="/">Home</button></li><span>|</span>
      <li><button routerLink="/cart">Shopping Cart</button></li><span>|</span>
      <li><button routerLink="/product">Products</button></li><span>|</span>
      <li><button routerLink="/order">Orders</button></li><span>|</span>
      <li><button routerLink="/account">Account</button>
    </ul>
</nav> 
</header>

