:host {
  background-image: url('/assets/images/head-foot_background.png');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; /* Ensures full viewport height */
  display: flex;
  flex-direction: column;
}
