:host {
  display: block;
}

.app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  background-image: url('/assets/images/head-foot_background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Header & Footer should never shrink */
app-header,
app-footer {
  flex-shrink: 0;
}

.page-content {
  flex: 1;              /* fills space between header & footer */
  overflow-y: auto;     /* scroll only when content is long */
}
